<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Form</title>
    {%load static %}
    <link rel="stylesheet" href="{% static 'employee/home.css'%}">
</head>
<body>
    <form action="" method="post">
        <table>
            <tr>
                <td>Employee ID:</td>
                <td><input type="text" name="emp_id" id="txt0" required></td>
            </tr>
            <tr>
                <td>Name:</td>
                <td><input type="text" name="name" id="txt1" required></td>
            </tr>
            <tr>
                <td>Designation:</td>
                <td><input type="text" name="designation" id="txt2" required></td>
            </tr>
        </table>
        <button type="submit">Submit</button>
    </form>
</body>
</html>